
$font-size: 16px;
$font-size14: 14px; 
$font-size12: 12px; 
$line-height: 1.5;
$magin-auto: 0 auto 0 auto;
$color-white: white;
$color-gray1: #969696;

ul,li {list-style: none;} 

img {width: 100%;
 display: block;}
 