
$font-size: 16px;
$font-size18: 18px; 
$font-size16: 16px; 
$font-size14: 14px; 
$font-size12: 12px; 
$line-height: 1.5;
$magin-auto: 0 auto 0 auto;
$color-white: white;
$color-gray1: #969696;

ul,li {list-style: none;} 

img {width: 100%;
 display: block;}
 

 .text_s{
  font-size: $font-size14;
  line-height: 1.4em;
  // white-space: pre-line;
  // word-break: keep-all;
 }

 .text_s_2{
  font-size: $font-size14;
  line-height: 1.4em;
  // word-break: keep-all;
 }
 
 .text_m{
  font-size: $font-size14;
  line-height: 1.4em;
  // word-break: keep-all;
 }
 .text_l{
  font-size: $font-size18;
  line-height: 1.4em;
  // word-break: keep-all;
 }

//  .break-keep {
//   word-break: keep-all;
// }

.text_bold {
  font-weight: bold;
}

.l_h {
  line-height: 1vh;
}