
@charset "UTF-8";

@use "mixin" as m;
@use "common" as c;
@use "variable" as *;
@use "tab-pc" as *;

body {
  background-color: #bebeff;

  @include m.mq(tab) {background-color: #ffbebe;}
  @include m.mq(pc) { background-color: #cacaca;}

  font-family: 'BIZ UDPGothic', sans-serif;
  font-size: $font-size;
}

h1 {
  margin: $magin-auto;
  width: min(50vw, 260px);
  padding: min(10vw,90px) 0 min(9vw,80px);
}

#wrapper{
  max-width: 800px;
  margin: $magin-auto;
}

header{/* フォーマット clamp(最小値, 推奨値, 最大値) */ 
  width: 100%;
  height: auto;
  margin: $magin-auto;
  background: #F0F0F0;
}

#outline{
  line-height: $line-height;
  background: #E1E1E1;
  margin: $magin-auto;
  padding: 5%;
}

#container {
  font-family: 'M PLUS 1p', sans-serif bold;
  max-width: 800px;
  margin: $magin-auto;
  color: $color-white;
}

.poly1{
  @include c.poly1;
}

/* スマートフォンのみ */
#sp{
  font-size: 5vw;
  display: flex;
  flex-wrap: wrap;
    @include m.mq(pc) {display: none;}
    @include m.mq(tab) {display: none;}

.grid-item{
  @include m.mq(sp) {width: 50%;}

   .works{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background: #F0F0F0 url(../img/works.png) no-repeat right top;
    background-size:100% auto;
    }
  }
}

#contact{
  @include m.mq(pc) {display: none;}
  @include m.mq(tab) {display: none;}
  color: $color-white;
  display: flex;
  justify-content: center;
  text-align: center;
  background: $color-gray1;
  padding: 5% 1%;
  font-size: 5vw;
    
  .mail {
    width: 5vw;
    padding: 0.6vw 1% 0 0;
    vertical-align: bottom;
    margin-left: 1vw;
    opacity: 0.5;
  }
}
/* スマートフォンのみここまで */

/* プロフィール */
#profile{
  width: 100%;
  line-height: $line-height;
  font-size: 14px;

  @include m.mq(tab) {
    width: auto;
    height: auto; 
    background: #F0F0F0 url(../img/mintkun.png) no-repeat left center ;
    background-size: 25% auto;
    padding: 3.3% 2% 3.3% 27%;
  }

  @include m.mq(sp){
    height: auto; 
    background-color: #F0F0F0;
    width: auto;
    padding: 5%;
  }
}  

/* タブレット、PCのみ */
#pc-tab{
  @include m.mq(sp) {display: none;}
    display: flex;
  .poly2{
      @include c.poly2; 
    } 
  font-size: 20px; 
  
  .works{
    height: 200px;
    width: min(100%, 400px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background: url(../img/works.png) no-repeat right center;
    background-size:100% auto;
  }

  .work{
    border: #ffbebe solid 2px;
  }

.contact2{   
  height: 200px;
  width: min(100%, 400px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; 
  background: $color-gray1;}

  .contact_pc-tab{
    width: min(100%, 400px);
    color: $color-white;
    display: flex;
    justify-content: center;
    text-align: center;
    background: $color-gray1;
    padding: 5% 1%;
    font-size: min(5vw 10px);
/*     width: min(100%, 400px);
    height: 200px;
    display: flex;
    justify-content: center;
    text-align: center; */

      background: $color-gray1;
    
      .contact_pt{
        margin: auto;
        height: 20px;
        display: inline-block;
        background-color: $color-gray1;
      }
      
  }
  .mail2 {
    border: #bebeff solid 2px;
    width: 10px;
    padding: 0.6vw 1% 0 0;
    vertical-align: bottom;
    margin-left: 1vw;
    opacity: 0.5;
  }
}